[submodule "wp-content/themes/Fruitful"]
	path = wp-content/themes/Fruitful
	url = https://github.com/alexanderzuniga/Fruitful.git
[submodule "wp-content/themes/fruitful/Fruitful"]
	path = wp-content/themes/fruitful/Fruitful
	url = https://github.com/alexanderzuniga/Fruitful.git
